html,body{
background-image:url('img/design.png');
display:flex;
justify-content: center;
height:100%;
width:100%;
background-repeat:no-repeat;
background-size:100% 100%;
margin:0;
}

h1{
text-align:center;
color:white;
font-size:40px;
padding:290px;
text-shadow: 5px 5px 10px black;
}